@use '../../utils/variables.scss' as vars;

.card_wrapper {
  position: relative;
  width: 550px;
  height: max-content;
  padding: 20px;

  display: flex;
  justify-content: space-between;

  background-color: vars.$background;
  box-shadow: vars.$shadow;
  border-radius: vars.$radius;
  font-size: 20px;

  .image {
    width: 250px;
    height: 300px;
    background-size: cover;
    border-radius: vars.$radius;
  }
}

@media screen and (max-width: 580px) {
  .card_wrapper {
    width: 95%;

    flex-direction: column-reverse;
    gap: 10px;

    .image {
      width: 95%;
      height: 350px;
    }
  }
}
