.homePage {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  .error {
    position: fixed;
    z-index: 2;
    bottom: 50px;
    left: 50px;
  }

  &.dark {
    background-color: black;
  }
}
