.notFound {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #536f53;

  .content {
    width: 400px;
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .image {
      width: 100%;
      height: 350px;

      background-image: url('../public/star.png');
      background-size: cover;
    }
  }
}
