@use '../../utils/variables.scss' as vars;

.card {
  cursor: pointer;

  position: relative;
  width: 550px;
  height: max-content;
  padding: 20px;

  display: flex;
  justify-content: space-between;

  background-color: vars.$background;
  box-shadow: vars.$shadow;
  border-radius: vars.$radius;
  font-size: 20px;

  .image {
    width: 250px;
    height: 300px;
    background-size: cover;
    border-radius: vars.$radius;

    background-image: url(../../assets/default.jpg);
  }

  button {
    position: absolute;
    bottom: 20px;
    left: 10px;
  }

  &.selected {
    box-shadow: inset 0 0 3px 2px green;
  }
}

@media screen and (max-width: 580px) {
  .card {
    width: 95%;

    flex-direction: column-reverse;
    gap: 10px;

    .image {
      width: 95%;
      height: 350px;
    }
  }
}
