@use '../../utils/variables.scss' as vars;

main {
  position: relative;
  width: 100%;
  display: flex;

  .cards {
    width: auto;
    padding: 30px;
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    transition: all 0.7 ease;
  }

  .details {
    position: sticky;
    top: 0;
    bottom: 0;

    width: 0;
    max-height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(vars.$yellow, 0.7);

    transition: width 0.7s ease;

    button {
      position: absolute;
      top: 20px;
      right: 20px;

      width: 100px;
      height: 40px;
    }

    &.active {
      width: 30%;
    }
  }
}
