@use '../../utils/variables.scss' as vars;

main {
  position: relative;
  width: 100vw;
  display: flex;

  .cards {
    padding: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .details {
    background-color: aquamarine;

    width: 0;

    transition: all 0.7s;

    &.active {
      width: 50%;
    }
  }
}

.clue {
  width: 50%;
  height: max-content;

  padding: 20px;

  box-sizing: vars.$shadow;
  background-color: vars.$background;
  border-radius: vars.$radius;
  font-size: 26px;
  color: black;
  text-align: center;
}
